<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FaveLyro</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/faves">Faves</a></li>
    </ul>
    {{{body}}}

</body>
</html>
