<h1>Welcome to FaveLyro</h1>
<h4>This is an app where you can search the GeniusAPI and save your favorite songs!</h4>

<form action="/search" method="get">
  <p style="margin: 0;">Search: </p>
  <input name="q" type="text"></input>
  <input type="submit"></input>
</div>
